**/build/**
**/release_build/**
/dependencies/*
/assets/**
!/dependencies/glad/
!/dependencies/glad/**
!/dependencies/tinyobjloader/
!/dependencies/stb_image.h
!/dependencies/imgui/
!/dependencies/imgui/**
!/assets/shaders/
!/assets/shaders/**
imgui.ini
**/.cache
**/models/**
**/.DS_Store
**/*.zip
**/*.ZIP
